@tailwind base;
@tailwind components;
@tailwind utilities;

.header-theme{
  background-color: #90d5ec;
  background-image: linear-gradient(315deg, #90d5ec 0%, #fc575e 74%);
}

.pop-up-dimensions{
  position: relative;
  height: 92vh;
  width: 400px; 
  overflow: hidden;
}

.pop-up-dimensions[slidein="true"]{
  animation: slideIn 5s ease-in;
}

@keyframes slideIn{
  100%{
    left: 100%;
  }
}